-if flash[:info]
  .alert.alert-success
    = flash[:info]
    %button.close{:data => {:dismiss => "alert"}} × 
  
-elsif flash[:error]
  .alert.alert-error
    = flash[:error]
    %button.close{:data => {:dismiss => "alert"}} ×
      
-else
  .alert.hide
