#app.container
  = haml(:'shared/_alerts', :layout => false)
  %legend 
    Edit account
  - if current_user
    %form{:action => "/#{current_user.username}/edit", :method => "post", :id => "edit"}
      %input{:value => "put", :name => "_method", :type => "hidden" }
      %p
        %label{:for => "user[username]"} Username
        %input{:type => "text", :name => "user[username]", :value => "#{@user.username}"}/
      %p
        %label{:for => "user[email]"} Email
        %input{:type => "text", :name => "user[email]", :value => "#{@user.email}"}/
      %p
        %label{:for => "user[firstname]"} First name
        %input{:type => "text", :name => "user[firstname]", :value => "#{@user.firstname}"}/
      %p
        %label{:for => "user[lastname]"} Last name
        %input{:type => "text", :name => "user[lastname]", :value => "#{@user.lastname}"}/
      %p
        %label{:for => "user[city]"} City
        %input{:type => "text", :name => "user[city]", :value => "#{@user.city}"}/
      %p
        %label{:for => "user[country]"} Country
        %input{:type => "text", :name => "user[country]", :value => "#{@user.country}"}/
      .form-actions    
        %input.btn.btn-large.btn-primary{:type => "submit", :value => "Save"}/
  -else
    %p
      ="something went wrong!"
      
  