#app.container
  = haml(:'shared/_alerts', :layout => false)
  .row
    .span12
      .well
        .lead
          ="Sinatra & Haml & Bootstrap"
          %a{:href => "/login"}
            = "Login"
  - if current_user
    .row
      .span3
        .well.sidebar-nav
          %h4 
            Sidebar
          %ul.nav.nav-list
            %li.active.nav-item.clearfix
              %a{:href => "#"} 
                = "Link"
          .add-list
            %form.search
              .controls
                %h4 Search:
              .controls
                .input-append
                  %input.span2{:type=>"text", :name=>"list[name]"}<
                    %div.btn
                      %i.icon-search
                    
      .span9
        #content.well
          = styled_flash
          %h1
            = "Content area"
          %p
            = "Lorem ipsum"
        .breadcrumb
          %li
            %a{:href => "#"}
              = "Home" 
              %span.divider
                = "/"
          %li.active
            = "Contact"

