!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Sinatra/Twitter Bootstrap/HAML/Datamapper
    %link{:rel => "stylesheet", :media => "screen, projection", :href => "/stylesheets/bootstrap.min.css"}
    %link{:rel => "stylesheet", :media => "screen, projection", :href => "/stylesheets/style.css"}
    
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
     
  %body
    #wrapper
      .navbar.navbar-fixed-top
        .navbar-inner
          .container.clearfix
            %a.brand.span4{:href => "/"} Sinatra & Haml & Bootstrap
            .welcomebar.span2.right
              - if current_user
                .btn-group
                  %button.btn
                    = "Your Profile"
                    %button.btn.dropdown-toggle{:data =>{:toggle => "dropdown"}}
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/#{current_user.username}/edit"} Edit your account
                      %li.divider
                      %li
                        %a{:href => "/logout"} Logout 
            
             
      = yield
    = haml(:'shared/_footer', :layout => false)
    %script{:src => "/javascripts/jquery_latest.js"}
    %script{:src => "/javascripts/bootstrap.js"}
    %script{:src => "/javascripts/app.js"}