#app.container
  = haml(:'shared/_alerts', :layout => false)
    
  .well
    %h1
      = "Sinatra Bootstrap starter application"
    %p
      = "Lorem ipsum!"
  %h3 
    Login
  %hr
  %form{:action => "/login", :method => "post"}
    %p
      %label{:for => "email"} Email
      %input{:type => "text", :name => "email", :value => "#{params[:email]}"}/
    %p
      %label{:for => "password"} Password
      %input{:type => "password", :name => "password"}/
    %input.btn.btn-large.btn-primary{:type => "submit", :value => "Login"}/
    %a.btn.btn-large{:href => "/signup"}
      = "Register"
      
