#app.container
  %h3 
    = "Your profile"

  %dl
    %dt
      = "Username"
      %dd
        #{current_user.username}
    %dt
      = "E-Mail"
      %dd
        #{current_user.email}
    %dt
      = "First name"
      %dd
        #{current_user.firstname}    
    %dt
      = "Last name"
      %dd
        #{current_user.lastname}
    %dt
      = "City"
      %dd
        #{current_user.city}
    %dt
      = "Country"
      %dd
        #{current_user.country}

