
/*********** Global Styles ************/
html, body {
    height: 100%;
}
a:hover{
    text-decoration:none;}
.container .row {
  margin-bottom: 20px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.hide{
    display:none;
}
#wrapper {
    min-height: 100%; 
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
#wrapper > #app{
    padding-top:60px;
}
.push {
    height:100px;
}
#footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;

}
/*********** layout ***********/
body {
}

.welcomebar {
  float:right;
  padding:11px 0;
  line-height: 18px;
  height: 18px;
}

.welcomebar .btn-group{
    margin-top:-6px;
}
.avatar {
  margin-top: -3px;
  margin-right: 3px;
  vertical-align: middle;
  border: 1px solid #666;
}
